body{text-align: center;background: #f2f6f8;}
.img{position:absolute;z-index:1;}

#container{
    display:inline-block;
    width:700px;
    height:400px;
    margin: 0 auto;
    position:relative;
    border:2px solid black;

#trafficCanvas{
    position:relative;
    z-index:20;
}
